
\.vs/AutoPuTTY/v15/

obj/Debug/
bin/
obj/

\.idea/\.idea\.AutoPuTTY/\.idea/

\.idea/\.idea\.AutoPuTTY/

AutoPuTTy v2/\.idea/\.idea\.AutoPuTTY/\.idea/

AutoPuTTy v2/\.idea/\.idea\.AutoPuTTY/
